alembic==0.9.3
beautifulsoup4==4.9.3
bleach==2.0.0
blinker==1.4
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
cycler==0.10.0
Cython==0.29.24
decorator==5.0.9
dominate==2.3.1
et-xmlfile==1.0.1
fake-useragent==0.1.11
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
Flask-HTTPAuth==3.2.3
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Migrate==2.0.4
Flask-Moment==0.5.1
Flask-PageDown==0.2.2
Flask-Script==2.0.6
Flask-SQLAlchemy==2.2
Flask-SSLify==0.1.5
Flask-WTF==0.14.2
gempy==2.1.1
geographiclib==1.52
gunicorn==19.7.1
html5lib==0.999999999
idna==2.10
imageio==2.9.0
itsdangerous==0.24
jdcal==1.4.1
Jinja2==2.11.2
kiwisolver==1.1.0
lxml==4.6.3
Mako==1.0.7
Markdown==2.6.8
MarkupSafe==1.1.1
matplotlib==3.0.3
MyQR==2.3.1
networkx==2.4
nptyping==1.4.3
numpy==1.18.5
openpyxl==2.6.4
pandas==0.24.2
Pillow==7.2.0
proxypool==0.0.0.dev0
psycopg2==2.7.3
pygal==1.7.0
pygame==2.0.1
PyMySQL==0.10.1
pyparsing==2.4.7
pyproj==2.5.0
python-dateutil==2.6.1
python-dotenv==0.6.5
python-editor==1.0.3
pytz==2021.1
PyWavelets==1.1.1
requests==2.25.0
scikit-image==0.15.0
scipy==1.4.1
seaborn==0.9.1
selenium==3.141.0
Shapely==1.7.1
six==1.10.0
soupsieve==2.1
SQLAlchemy==1.1.11
stopwords==1.0.0
Theano==1.0.5
typish==1.9.3
urllib3==1.26.2
visitor==0.1.3
webencodings==0.5.1
Werkzeug==0.16.0
wordcloud==1.8.1
WTForms==2.1
