<html>

<head>

  <link rel="stylesheet" href="/static/css/dayly.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>Sign in</title>
</head>

<body>
  <div class="main">
    <p class="sign" align="center">日报</p>
<form method="POST" class="form1">
{{ form.hidden_tag() }}
     {{ form.acc.label }}<br>{{ form.acc() }}<br>
     {{ form.date.label }}<br>{{ form.date() }}<br>
     {{ form.tag.label }}<br>{{ form.tag() }}<br>
{{ form.submit() }}
</form>

    </div>

</body>





</html>